<!-- <html>
<head>
    <!-- <link rel="stylesheet" href="C:/Users/Aran/Desktop/TUD Work/Year 4/Final Year Project/Testing on Python 3.9/SkinCancerDetection-WebApp/src/static/css/style.css"> 
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
</head> -->
<!-- <body>
    <div class="banner">
        <div class="navbar">
            <img ID="logo"  class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/index">Test</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div> -->

        {% extends "base.html" %}
        {% block index %}

        <div class="content">
            <h1>Benign or Malignant</h1>
            <p class="comment">Find out if the skin lesion is normal or not. Upload image or specify URL.</p>
            <dive class="col-xs-6">
                <form action="/upload" id="upload-file" method="post" enctype="multipart/form-data">
                    <p class="comment">Select image to upload and press Detect:</p>
                    <div class="custom-file">
                        <input ID="input_file" type="file" class="custom-file-input" name="file">
                        <label class="custom-file-label" for="customFile"></label>

                    </div>

                    <div>
                        <input ID="submit_btn" type="submit" class="btn btn-success" id="btn-predict" value="Detect" />
                    </div>
                </form>

                <h3 id="result">
                    <span> </span>
                </h3>
            </dive>
        </div>  
        {% endblock %}


<!-- 
    </div>
</body>
</html> -->
