

{% extends "base.html" %}
{% block register %}
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<p id="space"></p>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
    			<div class="notification is-danger">
        			{{ messages[0]}}!
    			</div>
			{% endif %}
			{% endwith %}
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="email" id="email" required>
				
				<label for="sex">
					<i class="fas fa-venus-mars"></i>
				</label>
				
				<select name="sex" id="sex" required>
					<option value="" disabled selected>Select Gender</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
				
				<span>&nbsp;&nbsp;&nbsp;&nbsp;</span> <!-- Adds space between Gender and Age -->

				<label for="age">
					<i class="fas fa-birthday-cake"></i>
				</label>
				<input type="number" name="age" placeholder="Age" id="age" min="13" max="100" required>
				
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
{% endblock %}
