<!DOCTYPE html>
<html>

<head>
  <title>Home Dermatologist</title>
  <link rel="icon" type="image/pn" href="static/images/Logo.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/mobile.css') }}" rel="stylesheet" media="screen and (max-width: 600px)">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
</head>

<body>
  <div class="banner" background-image="static/images/bk6copy.jpg">
      <header>
        <div class="navbar" id="navbar_base">
          <div class="logo-container">
            <img src="static/images/Logo.png" ID="logo" class="logo">
            <p>Home Dermatologist</p>
          </div>
          <ul>
            <div class="navbar-text">
              <li><a href="/">Home</a></li>
              <li><a href="/test">Skin Scanner</a></li>
              <li><a href="/info">How it Works</a></li>
              <li><a href="/predict">Skin Cancer</a></li>
              <li class="skin-cancer"><a href="/predict">About HD</a></li>
          
          {% if session['logged_in'] %}
          <div class="profile-wrapper">
            <a href="/account">
              <img src="static/images/accounticon.png" alt="Profile Picture" class="profile-image">
              <p class="profile-text">Your Profile</p>
            </a>
          </div>
          {% else %}
          <div class="login-wrapper">
            <a href="/login" class="login-button">Log In</a>
          </div>
          {% endif %}
        </div>
          </ul>
        </div>
      </header>

    <div class="container">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="index">{% block index %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="info">{% block info %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="result1">{% block result %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="login">{% block login %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="register">{% block register %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="account">{% block account %}{% endblock %}</div>
    </div>
    <div class="container">
      <div id="account">{% block account1 %}{% endblock %}</div>
    </div>
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Contact Us</h2>
        <p>
          You can reach us at:
          <br>
          Email: contact@example.com
          <br>
          Phone: +1 555-555-5555
        </p>
      </div>
      <div class="footer-section social">
        <h2>Follow Us</h2>
        <div class="social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-section rights">
        <p>&copy; 2023 HomeDermatologist. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
</body>
</html>


