
        {% extends "base.html" %}
        {% block index %}

        <div class="content">
            <h1>Benign or Malignant</h1>
            <p class="comment">Find out if the skin lesion is normal or not. Upload image or specify URL.</p>
            <dive class="col-xs-6">
                <form action="/upload" id="upload-file" method="post" enctype="multipart/form-data">
                    <p class="comment">Select image to upload and press Detect:</p>
                    <div class="custom-file">
                        <input ID="input_file" type="file" class="custom-file-input" name="file">
                        <label class="custom-file-label" for="customFile"></label>
                        <input type="file" id="imageFile" capture="user" accept="image/*"/>
                    </div>

                    <div>
                        <input ID="submit_btn" type="submit" class="btn btn-success" id="btn-predict" value="Detect" />
                    </div>
                </form>

                <h3 id="result">
                    <span> </span>
                </h3>
            </dive>
        </div>  
        {% endblock %}
