/* Global */
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#logo{
  width: 150px;
  height: 150px;
  background-size: cover;
  background-image: url(logo.jpg);
}

.banner{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(test.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar ul li{
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}


.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.content h1{
  font-size: 70px;
  margin-top: 80px;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%; 
}

button:hover{
  border: none; 
}


/* upload */
.form-control {
  width: 50%;
}

h1{
  color: #fff;
}
.comment{
  color: #fff;
}

.custom-file-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.custom-file-label {
  width: 50%;
}

.comment{
margin-top:20px;
}

.table {
width:50%;
} 



/* index */
#submit_btn:hover {
  background: rgb(15, 245, 3);
}

#submit_btn{
  margin-top: 10px;
  width: 175px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-style: bold;
  border-color: rgb(18, 180, 0);
  font-weight: bold;
  font-size: large;
  background-color: rgb(18, 180, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

#input_file{
  margin-top: 10px;
  background-color: rgb(100, 100, 100);
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  width: 600px;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}





/* Login */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #435165;
  margin: 0;
}
.login, .register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1, .register h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
  display: flex;
  padding: 0 15px;
}
.login .links a, .register .links a {
  color: #adb2ba;
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  color: #9da3ac;
}
.login .links a.active, .register .links a.active {
  border-bottom: 3px solid #3274d6;
  color: #3274d6;
}
.login form, .register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label, .register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}
.navtop {
  background-color: #2f3947;
  height: 60px;
  width: 100%;
  border: 0;
}
.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
.navtop div h1, .navtop div a {
  display: inline-flex;
  align-items: center;
}
.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
 margin: 0;
  color: #eaebed;
  font-weight: normal;
}
.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #c1c4c8;
  font-weight: bold;
}
.navtop div a i {
  padding: 2px 8px 0 0;
}
.navtop div a:hover {
  color: #eaebed;
}
body.loggedin {
  background-color: #f3f4f7;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}
.content > p, .content > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
background-color: #fff;
}
.content > p table td, .content > div table td {
padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
font-weight: bold;
color: #4a536e;
padding-right: 15px;
}
.content > div p {
padding: 5px;
margin: 0 0 10px 0;
}
/* End */